@import "tailwindcss";

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.container-top {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
}

.logo-text {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;

  .title-principal {
    font-size: 1.4rem;
  }
}

.input-search {
  border: 2px solid black;
  border-radius: 0.6rem;
  color: black;
  width: 30rem;
  height: 2.5rem;
}

.ordem-list {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;

  svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}